.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 40px auto;
  grid-template-areas:
    "p1"
    "board"
    "p2"
    "button"
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.setup {
  grid-area: p1;
}

.button {
  grid-area: button;
}

.board {
  grid-area: board;
  margin: 0 auto;
}

@media (min-width: 576px) { .container { grid-template-rows: 70px auto 70px auto; } }

@mixin styling($square-width) {
  .container {
    width: $square-width * 9;
  }
}

@media screen and (max-width: 9999px) {
  @include styling($square-width: 100px);
}

@media screen and (max-width: 919px),
       screen and (max-height: 879px) {
  @include styling($square-width: 90px);
}

@media screen and (max-width: 829px),
       screen and (max-height: 819px) {
  @include styling($square-width: 80px);
}
@media screen and (max-width: 749px),
       screen and (max-height: 739px) {
  @include styling($square-width: 70px);
}
@media screen and (max-width: 659px),
       screen and (max-height: 679px) {
  @include styling($square-width: 60px);
}

@media screen and (max-width: 575px),
       screen and (max-height: 599px) {
  @include styling($square-width: 55px);
}

@media screen and (max-width: 509px) {
  @include styling($square-width: 45px);
}

@media screen and (max-width: 409px) {
  @include styling($square-width: 35px);
}

@media screen and (max-width: 319px) {
  @include styling($square-width: 30px);
}

