.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px auto 35px;
  grid-template-areas:
    "p1"
    "board"
    "p2"
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.board {
  grid-area: board;
}

@media (min-width: 576px) { .container { grid-template-rows: 60px auto 60px; } }
