.container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: .25em;
}

.player_text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.fade {
  color: gray;
}

.self {
  font-weight: bold;
}
